<div
  style="
    margin: 100px;
    max-width: 400px;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  "
>
  <h2
    style="
      background-color: rgb(170, 209, 209);
      text-align: center;
      padding: 10px;
      border-radius: 4px;
    "
  >
    Todo App
  </h2>
  <div style="display: flex; margin-bottom: 10px">
    <input
      type="text"
      [(ngModel)]="newtask"
      style="
        flex: 1;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
      "
    />
    <button
      (click)="add_tasks()"
      style="
        padding: 8px 16px;
        margin-left: 10px;
        border: none;
        background-color: #4caf50;
        color: white;
        border-radius: 4px;
        cursor: pointer;
      "
    >
      Add Task
    </button>
  </div>
  <div *ngFor="let item of tasks" style="display: flex; align-items: center">
    <span
      *ngIf="editingTaskId !== item.id"
      style="flex: 1; padding: 10px; background-color: #fff; border-radius: 4px"
    >
      ♦ {{ item.task }}
    </span>
    <input
      *ngIf="editingTaskId === item.id"
      type="text"
      [(ngModel)]="updateTask"
      style="
        flex: 1;
        padding: 8px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
      "
    />
    <button
      *ngIf="editingTaskId === item.id"
      (click)="update_task(item.id)"
      style="
        padding: 6px 12px;
        border: none;
        background-color: #2196f3;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
      "
    >
      Update
    </button>
    <button
      *ngIf="editingTaskId !== item.id"
      (click)="start_editing(item.id, item.task)"
      style="
        padding: 6px 12px;
        border: none;
        background-color: #ff9800;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
      "
    >
      Edit .
    </button>
    <button
      (click)="delete_tasks(item.id)"
      style="
        padding: 6px 12px;
        border: none;
        background-color: #f44336;
        color: white;
        border-radius: 4px;
        cursor: pointer;
      "
    >
      Delete
    </button>
  </div>
</div>
